In [1]:
# Exercise

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("class.csv")
df.head()

   id Clé flexible  Nom          Prénom
0   0       ABD-01  NaN     Sai Prakash
1   1       ABD-01  NaN  Juan Sebastian
2   2       ABD-01  NaN           Sarah
3   3       ABD-01  NaN            Ravi
4   4       ABD-01  NaN   Jania Barbara

In [4]:
#get only values of the result

In [5]:
data = df.values

In [6]:
# Create a array with 16 [0-15] itens, and choice 10 of them.
array = np.random.choice(16, 10)
array = np.array(array)
array

array([ 4,  1, 10,  2,  4,  5,  8,  2, 12, 14])

In [7]:
for i in array:
    print(data[i][3])

Jania Barbara
Juan Sebastian
Mubin
Sarah
Jania Barbara
Sushank
Bhavya
Sarah
Edward
Afshan Khan